<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>

    html {
    height: 100%;
  }
    *{
       box-sizing: border-box;
    }

    div {
      text-align: center;
    }

  </style>
</head>

<footer class="text-center">
        <div style="color:#000;background-color:#fff;" class="wow fadeInUp footer-copyright">
          <div style="margin-top:-72px;" class="footer-adj"><strong>Made for Apli.ai Fullstack Assessment</strong><br>
            Copyright &copy; 2021 by <strong>aarpitdubey@gmail.com</strong>. All Rights are Reserved </div><br>
        </div>
      </div>

</footer>

</html>
